*{
  margin: 0;
  box-sizing: border-box;
  font-family: sourcesans, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: sourcesans;
  src: url(Fonts/SourceSansPro-Regular.otf);
}

header{
  background-image: url(images/headphones_hero_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  padding-top: 2rem;
  color: white;
}

.hamburgerMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0.8rem;
  width: 1rem;
  position: relative;
  bottom: 1.2rem;
}

.bar1{
  background-color: white;
  width: 100%;
  height: 15%;
  border-radius: 0.05rem;
}

.bar2 {
  background-color: white;
  width: 70%;
  height: 13%;
  border-radius: 0.05rem;
}

.logoContainer{
  display: flex;
  justify-content: center;
}

.infoSection{
  margin: 10rem 1rem 1rem 1rem;
  text-align: center;
}

.infoSection button{
  margin: 1rem;
  margin-bottom: 2rem;
  background: 0rem rgb(244, 102, 126);
  border: none;
  color:white;
  padding:0.8rem 2rem 0.8rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.478);
}

.navPanel{
  display: none;
}

@media screen and (min-width: 800px) {
  .navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem 0rem 2rem;
  }

  .hamburgerMenu{
    display:none;
  }

  .navPanel{
    display: flex;
    flex-direction: row;
  }

  .navPanel nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2rem;
  }
}

