*{
  margin: 0;
  box-sizing: border-box;
  font-family: sourcesans, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: sourcesans;
  src: url(Fonts/SourceSansPro-Regular.otf);
}

header{
  background-image: url(images/headphones_hero_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  padding-top: 2rem;
  color: white;
}

.hamburgerMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1rem;
  width: 1.5rem;
  position: relative;
  bottom: 1.5rem;
}

.bar1{
  background-color: white;
  width: 100%;
  height: 15%;
  border-radius: 0.05rem;
}

.bar2 {
  background-color: white;
  width: 70%;
  height: 15%;
  border-radius: 0.05rem;
}

.logoContainer{
  display: flex;
  justify-content: center;
}

.infoSection{
  margin: 10rem 1rem 5rem 1rem;
  text-align: center;
}

.infoSection button{
  margin: 1rem;
  margin-bottom: 2rem;
  background: 0rem rgb(255, 79, 109);
  border: none;
  color:white;
  padding:0.8rem 2rem 0.8rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.478);
}

.navPanel{
  display: none;
}


.doSection{
  margin: 5rem 2rem 2rem 2rem;
  text-align: center;
}

.doIcons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.doIcons div {
  width: 10rem;
}

.doIcons i{
  font-size: 8rem;
  color: rgb(255, 79, 109);
}

.doSection div, .doSection div h1{
  margin-bottom: 2rem;
}

.weDo {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 600px){
  .doIcons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:500px;
    justify-content: center;
    gap: 10rem;
  }

  .doSection{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 900px) {
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 12rem 0rem 12rem;
  }

  .hamburgerMenu {
    display: none;
  }

  .navPanel {
    display: flex;
    flex-direction: row;
  }

  .navPanel nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2rem;
  }

  .infoSection {
    padding: 10rem 10rem 10rem 10rem;
  }

  #p1 {
    padding: 3rem 0rem 0rem 0rem;
  }

  .weDo{
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media screen and (min-width: 1150px) {
  .infoSection {
    padding: 10rem 18rem 10rem 18rem;
  }

  .doIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
    gap: 5rem;
  }

  .doSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weDo{
    padding-left: 15rem;
    padding-right: 15rem;
  }
}