body{
  background-image:url(CSS\ Advanced/Object.png);
  background-repeat: no-repeat;
  background-size:contain;
  margin: 0rem;
}

nav{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

nav ul{
  display: flex;
}

@font-face {
  font-family: sourcesans;
  src: url(Fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: sourcesansbold;
  src: url(Fonts/SourceSansPro-Bold.otf);
}

nav li a{
  margin-left: 3rem;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family:sourcesans;
}

nav li {
  list-style: none;
}

nav img{
  height: auto;
}

.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.register h1{
  margin-bottom: 0;
  font-size: 10rem;
  padding-top:3rem;
  font-family:sourcesansbold;
}

.tagline{
  flex-direction: row;
  font-family: sourcesans;
}

.tagline span{
  margin: 3rem;
  font-size: 1.2rem;
}

.register button{
  margin: 2rem;
  padding:1rem;
  border-radius: 2rem;
  border: 0rem;
  color:white;
  font-family: sourcesans;
  font-weight: bold;
  background-color: blueviolet;
  box-shadow: 0.2rem 0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.352);
}

.register button:hover{
  cursor: pointer;
}

.thepros{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: sourcesans;
  font-weight: lighter;
  margin-top: 8rem;
}

.thepros div{
  display: flex;
  flex-direction: row;
}

.thepros div div{
  display: flex;
  flex-direction: column;
  margin: 4rem;
  align-items: center;
  text-align: center;
}

.thepros div div img {
  border-radius: 5rem;
  height: 8rem;
  width: 8rem;
}

.thepros div div h3{
  margin-bottom: 0rem;
}

.quotes{
  display: flex;
  justify-content: center;
  padding: 6rem;
  margin: 0rem;
  background-color: rgb(157, 65, 244);
  color: white;
  font-family: sourcesans;
}

.image{
  margin-right: 5rem;
}

.quote blockquote{
  margin: 0rem;
}

.video{
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

.vidsection{
  color: black;
  font-family: sourcesans;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play{
  position:absolute;
  top: 10%;
  left: 35%;
}

.card{
  position: relative;
  margin: 4rem;
}

.picture{
  width: 100%;
}

.viddescription{
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(157, 65, 244);
  
}

.cardfooter{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  color: rgb(157, 65, 244);
}

.cardfooter div{
  display: flex;
}

.card div h3, .card div p, .viddescription, .cardfooter {
  padding-left: 1rem;
  padding-right: 1rem;
}
